
@{
    /**/

    ViewBag.Title = "告白墙";
    var list = Model as IList<Common.Entity.Business.MessageBoardEntity>;

    Func<DateTime, string> getDateDescription = (time) =>
    {
        var d1 = DateTime.Now;
        var d2 = time;
        DateTime d3 = Convert.ToDateTime(string.Format("{0}-{1}-{2}", d1.Year, d1.Month, d1.Day));
        DateTime d4 = Convert.ToDateTime(string.Format("{0}-{1}-{2}", d2.Year, d2.Month, d2.Day));
        int days = (d3 - d4).Days;
        var resutl = "";
        if (days >= 365) resutl = "一年前";
        else if (days >= 30) resutl = "一个月前";
        else if (days >= 21) resutl = "三周前";
        else if (days >= 14) resutl = "两周前";
        else if (days >= 7) resutl = "一周前";
        else if (days >= 6) resutl = "六天前";
        else if (days >= 5) resutl = "五天前";
        else if (days >= 4) resutl = "四天前";
        else if (days >= 3) resutl = "三天前";
        else if (days >= 2) resutl = "两天前";
        else if (days >= 1) resutl = "一天前";
        else if (days == 0) resutl = "今天";
        else resutl = "未知";

        return resutl;
    };
}

@section style{
    <style>
        .error {
            color: red;
        }

        .wait {
            min-height: 200px;
            height: 80vh;
        }

        .message-info {
            border: solid 1px;
            border-color: rgb(169, 169, 169);
        }

        .message-info-header {
        }

        .message-info-from {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

            .message-info-from .message-from {
                width: 45%;
            }

            .message-info-from .message-mail {
                width: 45%;
            }

        .message-info-content {
        }

            .message-info-content .message-content {
                width: 100%;
                height: 100px;
                resize: none;
            }

        .message-info-submit button {
            width: 100%;
        }

        .message-box {
            border: solid 1px;
            border-color: rgb(169, 169, 169);
            padding: 0;
        }

            .message-box .message-box-header {
                height: 30px;
                background-color: #F5F5F5;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-content: center;
            }

            .message-box .message-box-body {
                padding: 10px;
            }

                .message-box .message-box-body p {
                    text-indent: 2em;
                    margin: 0;
                }
    </style>
}

<div class="container">
    <div class="row my-2">
        <div class="col-sm-4 my-2">
            <form action="/messageboard/submit" method="post" class="form-horizontal message-info py-2 px-2">
                <div class="message-info-header">
                    <span>终于等到你！</span><br />
                    <span>大胆向Ta表白吧！</span>
                </div>
                <div class="message-info-from mt-2">
                    <input class="form-control message-from" placeholder="你的称呼" name="FMessageFrom" />
                    <input class="form-control message-mail" placeholder="你的邮箱" name="FMail" />
                </div>
                <div class="message-info-content mt-2">
                    <textarea class="form-control message-content" placeholder="大胆向Ta表白吧！" name="FContent"></textarea>
                </div>
                <div class="message-info-submit">
                    <button id="messagesubmit" type="submit" class="btn btn-danger">填好了，起飞！</button>
                </div>
            </form>
        </div>

        @foreach (var m in list)
        {
            <div class="col-sm-4 my-2">
                <div class="message-box">
                    <div class="message-box-header">
                        <span>@(getDateDescription(m.FCreateTime)) (@m.FProvince▪@m.FCity)</span>
                        <span>- 来自: @m.FMessageFrom</span>
                    </div>
                    <div class="message-box-body">
                        <p>@m.FContent</p>
                    </div>
                </div>
            </div>
        }
    </div>

</div>


@section script{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script>
        $(function () {
            var validator = $("form").validate({
                onsubmit: false,
                ignore: "",//防止过滤隐藏对象
                rules: {
                    FMessageFrom: {
                        required: true    //此处就是必填项验证
                    },
                    FMail: {
                        required: true
                    },
                    FContent: {
                        required: true
                    },
                },
                messages: {     //相对应的错误提示信息
                    FMessageFrom: "请输入你的称呼！",
                    FMail: "请输入邮箱！",
                    FContent: "请输入内容！"
                },
                success: "valid",
                submitHandler: function (form, event) {
                    return true;
                },
                invalidHandler: function (event, validator) {
                    if (validator.errorList.length > 0) {
                        var errorElement = $(validator.errorList[0].element);
                        errorElement[0].focus();
                    }
                }
            });


            $("#messagesubmit").click(function (e) {
                if (validator.form()) {
                    layer.open({
                        type: 1,
                        content: '',
                        shade: true
                    });
                }
                else {
                    e.preventDefault();
                }
            });
        });
    </script>
}
