/BasicTemplate/.vs/BasicTemplate/v15/Server/sqlite3/db.lock
/BasicTemplate/.vs/BasicTemplate/v15/Server/sqlite3/storage.ide
/BasicTemplate/.vs/BasicTemplate/v15/Server/sqlite3/storage.ide-shm
/BasicTemplate/.vs/BasicTemplate/v15/Server/sqlite3/storage.ide-wal
/BasicTemplate/Common/Common.Entity/bin/Debug/Common.Entity.dll
/BasicTemplate/Common/Common.Entity/bin/Debug/Common.Entity.pdb
/BasicTemplate/Common/Common.Entity/obj/Debug/Common.Entity.csproj.CoreCompileInputs.cache
/BasicTemplate/Common/Common.Entity/obj/Debug/Common.Entity.csproj.FileListAbsolute.txt
/BasicTemplate/Common/Common.Entity/obj/Debug/Common.Entity.dll
/BasicTemplate/Common/Common.Entity/obj/Debug/Common.Entity.pdb
/BasicTemplate/Common/Common.Entity/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/BasicTemplate/Common/Common.Entity/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/BasicTemplate/Common/Common.Entity/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/BasicTemplate/Common/Common.Entity/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/BasicTemplate/Common/Common.Misc/bin/Debug/Common.Entity.dll
/BasicTemplate/Common/Common.Misc/bin/Debug/Common.Entity.pdb
/BasicTemplate/Common/Common.Misc/bin/Debug/Common.Misc.dll
/BasicTemplate/Common/Common.Misc/bin/Debug/Common.Misc.pdb
/BasicTemplate/Common/Common.Misc/bin/Debug/Newtonsoft.Json.dll
/BasicTemplate/Common/Common.Misc/bin/Debug/Newtonsoft.Json.pdb
/BasicTemplate/Common/Common.Misc/bin/Debug/Newtonsoft.Json.xml
/BasicTemplate/Common/Common.Misc/bin/Debug/log4net.dll
/BasicTemplate/Common/Common.Misc/bin/Debug/log4net.xml
/BasicTemplate/Common/Common.Misc/obj/Debug/Common.Misc.csproj.CopyComplete
/BasicTemplate/Common/Common.Misc/obj/Debug/Common.Misc.csproj.CoreCompileInputs.cache
/BasicTemplate/Common/Common.Misc/obj/Debug/Common.Misc.csproj.FileListAbsolute.txt
/BasicTemplate/Common/Common.Misc/obj/Debug/Common.Misc.csprojAssemblyReference.cache
/BasicTemplate/Common/Common.Misc/obj/Debug/Common.Misc.dll
/BasicTemplate/Common/Common.Misc/obj/Debug/Common.Misc.pdb
/BasicTemplate/Common/Common.Misc/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/BasicTemplate/Common/Common.Misc/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/BasicTemplate/Common/Common.Misc/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/BasicTemplate/Common/Common.Misc/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/BasicTemplate/WEB/AdminCode/bin/AdminCode.dll
/BasicTemplate/WEB/AdminCode/bin/AdminCode.dll.config
/BasicTemplate/WEB/AdminCode/bin/AdminCode.pdb
/BasicTemplate/WEB/AdminCode/bin/Antlr3.Runtime.dll
/BasicTemplate/WEB/AdminCode/bin/Antlr3.Runtime.pdb
/BasicTemplate/WEB/AdminCode/bin/Microsoft.AspNet.TelemetryCorrelation.dll
/BasicTemplate/WEB/AdminCode/bin/Microsoft.AspNet.TelemetryCorrelation.xml
/BasicTemplate/WEB/AdminCode/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
/BasicTemplate/WEB/AdminCode/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
/BasicTemplate/WEB/AdminCode/bin/Microsoft.Web.Infrastructure.dll
/BasicTemplate/WEB/AdminCode/bin/Newtonsoft.Json.dll
/BasicTemplate/WEB/AdminCode/bin/Newtonsoft.Json.xml
/BasicTemplate/WEB/AdminCode/bin/System.Diagnostics.DiagnosticSource.dll
/BasicTemplate/WEB/AdminCode/bin/System.Diagnostics.DiagnosticSource.xml
/BasicTemplate/WEB/AdminCode/bin/System.Web.Helpers.dll
/BasicTemplate/WEB/AdminCode/bin/System.Web.Helpers.xml
/BasicTemplate/WEB/AdminCode/bin/System.Web.Mvc.dll
/BasicTemplate/WEB/AdminCode/bin/System.Web.Mvc.xml
/BasicTemplate/WEB/AdminCode/bin/System.Web.Optimization.dll
/BasicTemplate/WEB/AdminCode/bin/System.Web.Optimization.xml
/BasicTemplate/WEB/AdminCode/bin/System.Web.Razor.dll
/BasicTemplate/WEB/AdminCode/bin/System.Web.Razor.xml
/BasicTemplate/WEB/AdminCode/bin/System.Web.WebPages.Deployment.dll
/BasicTemplate/WEB/AdminCode/bin/System.Web.WebPages.Deployment.xml
/BasicTemplate/WEB/AdminCode/bin/System.Web.WebPages.Razor.dll
/BasicTemplate/WEB/AdminCode/bin/System.Web.WebPages.Razor.xml
/BasicTemplate/WEB/AdminCode/bin/System.Web.WebPages.dll
/BasicTemplate/WEB/AdminCode/bin/System.Web.WebPages.xml
/BasicTemplate/WEB/AdminCode/bin/WebGrease.dll
/BasicTemplate/WEB/AdminCode/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
/BasicTemplate/WEB/AdminCode/bin/roslyn/Microsoft.CSharp.Core.targets
/BasicTemplate/WEB/AdminCode/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
/BasicTemplate/WEB/AdminCode/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
/BasicTemplate/WEB/AdminCode/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
/BasicTemplate/WEB/AdminCode/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
/BasicTemplate/WEB/AdminCode/bin/roslyn/Microsoft.CodeAnalysis.dll
/BasicTemplate/WEB/AdminCode/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
/BasicTemplate/WEB/AdminCode/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
/BasicTemplate/WEB/AdminCode/bin/roslyn/Microsoft.Managed.Core.targets
/BasicTemplate/WEB/AdminCode/bin/roslyn/Microsoft.VisualBasic.Core.targets
/BasicTemplate/WEB/AdminCode/bin/roslyn/System.AppContext.dll
/BasicTemplate/WEB/AdminCode/bin/roslyn/System.Collections.Immutable.dll
/BasicTemplate/WEB/AdminCode/bin/roslyn/System.Console.dll
/BasicTemplate/WEB/AdminCode/bin/roslyn/System.Diagnostics.FileVersionInfo.dll
/BasicTemplate/WEB/AdminCode/bin/roslyn/System.Diagnostics.StackTrace.dll
/BasicTemplate/WEB/AdminCode/bin/roslyn/System.IO.Compression.dll
/BasicTemplate/WEB/AdminCode/bin/roslyn/System.IO.FileSystem.Primitives.dll
/BasicTemplate/WEB/AdminCode/bin/roslyn/System.IO.FileSystem.dll
/BasicTemplate/WEB/AdminCode/bin/roslyn/System.IO.Pipes.AccessControl.dll
/BasicTemplate/WEB/AdminCode/bin/roslyn/System.IO.Pipes.dll
/BasicTemplate/WEB/AdminCode/bin/roslyn/System.Reflection.Metadata.dll
/BasicTemplate/WEB/AdminCode/bin/roslyn/System.Security.AccessControl.dll
/BasicTemplate/WEB/AdminCode/bin/roslyn/System.Security.Claims.dll
/BasicTemplate/WEB/AdminCode/bin/roslyn/System.Security.Cryptography.Algorithms.dll
/BasicTemplate/WEB/AdminCode/bin/roslyn/System.Security.Cryptography.Encoding.dll
/BasicTemplate/WEB/AdminCode/bin/roslyn/System.Security.Cryptography.Primitives.dll
/BasicTemplate/WEB/AdminCode/bin/roslyn/System.Security.Cryptography.X509Certificates.dll
/BasicTemplate/WEB/AdminCode/bin/roslyn/System.Security.Principal.Windows.dll
/BasicTemplate/WEB/AdminCode/bin/roslyn/System.Text.Encoding.CodePages.dll
/BasicTemplate/WEB/AdminCode/bin/roslyn/System.ValueTuple.dll
/BasicTemplate/WEB/AdminCode/bin/roslyn/System.Xml.ReaderWriter.dll
/BasicTemplate/WEB/AdminCode/bin/roslyn/System.Xml.XPath.XDocument.dll
/BasicTemplate/WEB/AdminCode/bin/roslyn/System.Xml.XPath.dll
/BasicTemplate/WEB/AdminCode/bin/roslyn/System.Xml.XmlDocument.dll
/BasicTemplate/WEB/AdminCode/bin/roslyn/VBCSCompiler.exe
/BasicTemplate/WEB/AdminCode/bin/roslyn/VBCSCompiler.exe.config
/BasicTemplate/WEB/AdminCode/bin/roslyn/csc.exe
/BasicTemplate/WEB/AdminCode/bin/roslyn/csc.exe.config
/BasicTemplate/WEB/AdminCode/bin/roslyn/csc.rsp
/BasicTemplate/WEB/AdminCode/bin/roslyn/csi.exe
/BasicTemplate/WEB/AdminCode/bin/roslyn/csi.exe.config
/BasicTemplate/WEB/AdminCode/bin/roslyn/csi.rsp
/BasicTemplate/WEB/AdminCode/bin/roslyn/vbc.exe
/BasicTemplate/WEB/AdminCode/bin/roslyn/vbc.exe.config
/BasicTemplate/WEB/AdminCode/bin/roslyn/vbc.rsp
/BasicTemplate/WEB/AdminCode/bin/zh-Hans/System.Web.Helpers.resources.dll
/BasicTemplate/WEB/AdminCode/bin/zh-Hans/System.Web.Mvc.resources.dll
/BasicTemplate/WEB/AdminCode/bin/zh-Hans/System.Web.Optimization.resources.dll
/BasicTemplate/WEB/AdminCode/bin/zh-Hans/System.Web.Razor.resources.dll
/BasicTemplate/WEB/AdminCode/bin/zh-Hans/System.Web.WebPages.Deployment.resources.dll
/BasicTemplate/WEB/AdminCode/bin/zh-Hans/System.Web.WebPages.Razor.resources.dll
/BasicTemplate/WEB/AdminCode/bin/zh-Hans/System.Web.WebPages.resources.dll
/BasicTemplate/WEB/AdminCode/obj/Debug/AdminCode.csproj.CopyComplete
/BasicTemplate/WEB/AdminCode/obj/Debug/AdminCode.csproj.CoreCompileInputs.cache
/BasicTemplate/WEB/AdminCode/obj/Debug/AdminCode.csproj.FileListAbsolute.txt
/BasicTemplate/WEB/AdminCode/obj/Debug/AdminCode.dll
/BasicTemplate/WEB/AdminCode/obj/Debug/AdminCode.pdb
/BasicTemplate/WEB/AdminCode/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/BasicTemplate/WEB/AdminCode/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/BasicTemplate/WEB/AdminCode/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/BasicTemplate/WEB/WEBService/bin/Debug/Common.Entity.dll
/BasicTemplate/WEB/WEBService/bin/Debug/Common.Entity.pdb
/BasicTemplate/WEB/WEBService/bin/Debug/Common.Misc.dll
/BasicTemplate/WEB/WEBService/bin/Debug/Common.Misc.pdb
/BasicTemplate/WEB/WEBService/bin/Debug/Microsoft.Web.Infrastructure.dll
/BasicTemplate/WEB/WEBService/bin/Debug/Newtonsoft.Json.dll
/BasicTemplate/WEB/WEBService/bin/Debug/Newtonsoft.Json.pdb
/BasicTemplate/WEB/WEBService/bin/Debug/Newtonsoft.Json.xml
/BasicTemplate/WEB/WEBService/bin/Debug/System.Web.Helpers.dll
/BasicTemplate/WEB/WEBService/bin/Debug/System.Web.Helpers.xml
/BasicTemplate/WEB/WEBService/bin/Debug/System.Web.Mvc.dll
/BasicTemplate/WEB/WEBService/bin/Debug/System.Web.Mvc.xml
/BasicTemplate/WEB/WEBService/bin/Debug/System.Web.Razor.dll
/BasicTemplate/WEB/WEBService/bin/Debug/System.Web.Razor.xml
/BasicTemplate/WEB/WEBService/bin/Debug/System.Web.WebPages.Deployment.dll
/BasicTemplate/WEB/WEBService/bin/Debug/System.Web.WebPages.Deployment.xml
/BasicTemplate/WEB/WEBService/bin/Debug/System.Web.WebPages.Razor.dll
/BasicTemplate/WEB/WEBService/bin/Debug/System.Web.WebPages.Razor.xml
/BasicTemplate/WEB/WEBService/bin/Debug/System.Web.WebPages.dll
/BasicTemplate/WEB/WEBService/bin/Debug/System.Web.WebPages.xml
/BasicTemplate/WEB/WEBService/bin/Debug/WEBService.dll
/BasicTemplate/WEB/WEBService/bin/Debug/WEBService.pdb
/BasicTemplate/WEB/WEBService/bin/Debug/log4net.dll
/BasicTemplate/WEB/WEBService/bin/Debug/log4net.xml
/BasicTemplate/WEB/WEBService/bin/Debug/zh-Hans/System.Web.Helpers.resources.dll
/BasicTemplate/WEB/WEBService/bin/Debug/zh-Hans/System.Web.Mvc.resources.dll
/BasicTemplate/WEB/WEBService/bin/Debug/zh-Hans/System.Web.Razor.resources.dll
/BasicTemplate/WEB/WEBService/bin/Debug/zh-Hans/System.Web.WebPages.Deployment.resources.dll
/BasicTemplate/WEB/WEBService/bin/Debug/zh-Hans/System.Web.WebPages.Razor.resources.dll
/BasicTemplate/WEB/WEBService/bin/Debug/zh-Hans/System.Web.WebPages.resources.dll
/BasicTemplate/WEB/WEBService/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/BasicTemplate/WEB/WEBService/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/BasicTemplate/WEB/WEBService/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/BasicTemplate/WEB/WEBService/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/BasicTemplate/WEB/WEBService/obj/Debug/WEBService.csproj.CopyComplete
/BasicTemplate/WEB/WEBService/obj/Debug/WEBService.csproj.CoreCompileInputs.cache
/BasicTemplate/WEB/WEBService/obj/Debug/WEBService.csproj.FileListAbsolute.txt
/BasicTemplate/WEB/WEBService/obj/Debug/WEBService.csprojAssemblyReference.cache
/BasicTemplate/WEB/WEBService/obj/Debug/WEBService.dll
/BasicTemplate/WEB/WEBService/obj/Debug/WEBService.pdb
/BasicTemplate/WEB/WebCode/bin/Antlr3.Runtime.dll
/BasicTemplate/WEB/WebCode/bin/Antlr3.Runtime.pdb
/BasicTemplate/WEB/WebCode/bin/Common.Entity.dll
/BasicTemplate/WEB/WebCode/bin/Common.Entity.pdb
/BasicTemplate/WEB/WebCode/bin/Common.Misc.dll
/BasicTemplate/WEB/WebCode/bin/Common.Misc.pdb
/BasicTemplate/WEB/WebCode/bin/Microsoft.AspNet.TelemetryCorrelation.dll
/BasicTemplate/WEB/WebCode/bin/Microsoft.AspNet.TelemetryCorrelation.xml
/BasicTemplate/WEB/WebCode/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
/BasicTemplate/WEB/WebCode/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
/BasicTemplate/WEB/WebCode/bin/Microsoft.Web.Infrastructure.dll
/BasicTemplate/WEB/WebCode/bin/Newtonsoft.Json.dll
/BasicTemplate/WEB/WebCode/bin/Newtonsoft.Json.xml
/BasicTemplate/WEB/WebCode/bin/System.Diagnostics.DiagnosticSource.dll
/BasicTemplate/WEB/WebCode/bin/System.Diagnostics.DiagnosticSource.xml
/BasicTemplate/WEB/WebCode/bin/System.Runtime.CompilerServices.Unsafe.dll
/BasicTemplate/WEB/WebCode/bin/System.Runtime.CompilerServices.Unsafe.xml
/BasicTemplate/WEB/WebCode/bin/System.ValueTuple.dll
/BasicTemplate/WEB/WebCode/bin/System.ValueTuple.xml
/BasicTemplate/WEB/WebCode/bin/System.Web.Helpers.dll
/BasicTemplate/WEB/WebCode/bin/System.Web.Helpers.xml
/BasicTemplate/WEB/WebCode/bin/System.Web.Mvc.dll
/BasicTemplate/WEB/WebCode/bin/System.Web.Mvc.xml
/BasicTemplate/WEB/WebCode/bin/System.Web.Optimization.dll
/BasicTemplate/WEB/WebCode/bin/System.Web.Optimization.xml
/BasicTemplate/WEB/WebCode/bin/System.Web.Razor.dll
/BasicTemplate/WEB/WebCode/bin/System.Web.Razor.xml
/BasicTemplate/WEB/WebCode/bin/System.Web.WebPages.Deployment.dll
/BasicTemplate/WEB/WebCode/bin/System.Web.WebPages.Deployment.xml
/BasicTemplate/WEB/WebCode/bin/System.Web.WebPages.Razor.dll
/BasicTemplate/WEB/WebCode/bin/System.Web.WebPages.Razor.xml
/BasicTemplate/WEB/WebCode/bin/System.Web.WebPages.dll
/BasicTemplate/WEB/WebCode/bin/System.Web.WebPages.xml
/BasicTemplate/WEB/WebCode/bin/Unity.Abstractions.dll
/BasicTemplate/WEB/WebCode/bin/Unity.Abstractions.pdb
/BasicTemplate/WEB/WebCode/bin/Unity.Configuration.dll
/BasicTemplate/WEB/WebCode/bin/Unity.Configuration.pdb
/BasicTemplate/WEB/WebCode/bin/Unity.Container.dll
/BasicTemplate/WEB/WebCode/bin/Unity.Container.pdb
/BasicTemplate/WEB/WebCode/bin/Unity.Mvc.dll
/BasicTemplate/WEB/WebCode/bin/Unity.Mvc.pdb
/BasicTemplate/WEB/WebCode/bin/WEBService.dll
/BasicTemplate/WEB/WebCode/bin/WEBService.pdb
/BasicTemplate/WEB/WebCode/bin/WebActivatorEx.dll
/BasicTemplate/WEB/WebCode/bin/WebCode.dll
/BasicTemplate/WEB/WebCode/bin/WebCode.dll.config
/BasicTemplate/WEB/WebCode/bin/WebCode.pdb
/BasicTemplate/WEB/WebCode/bin/WebGrease.dll
/BasicTemplate/WEB/WebCode/bin/log4net.dll
/BasicTemplate/WEB/WebCode/bin/log4net.xml
/BasicTemplate/WEB/WebCode/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
/BasicTemplate/WEB/WebCode/bin/roslyn/Microsoft.CSharp.Core.targets
/BasicTemplate/WEB/WebCode/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
/BasicTemplate/WEB/WebCode/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
/BasicTemplate/WEB/WebCode/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
/BasicTemplate/WEB/WebCode/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
/BasicTemplate/WEB/WebCode/bin/roslyn/Microsoft.CodeAnalysis.dll
/BasicTemplate/WEB/WebCode/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
/BasicTemplate/WEB/WebCode/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
/BasicTemplate/WEB/WebCode/bin/roslyn/Microsoft.Managed.Core.targets
/BasicTemplate/WEB/WebCode/bin/roslyn/Microsoft.VisualBasic.Core.targets
/BasicTemplate/WEB/WebCode/bin/roslyn/System.AppContext.dll
/BasicTemplate/WEB/WebCode/bin/roslyn/System.Collections.Immutable.dll
/BasicTemplate/WEB/WebCode/bin/roslyn/System.Console.dll
/BasicTemplate/WEB/WebCode/bin/roslyn/System.Diagnostics.FileVersionInfo.dll
/BasicTemplate/WEB/WebCode/bin/roslyn/System.Diagnostics.StackTrace.dll
/BasicTemplate/WEB/WebCode/bin/roslyn/System.IO.Compression.dll
/BasicTemplate/WEB/WebCode/bin/roslyn/System.IO.FileSystem.Primitives.dll
/BasicTemplate/WEB/WebCode/bin/roslyn/System.IO.FileSystem.dll
/BasicTemplate/WEB/WebCode/bin/roslyn/System.IO.Pipes.AccessControl.dll
/BasicTemplate/WEB/WebCode/bin/roslyn/System.IO.Pipes.dll
/BasicTemplate/WEB/WebCode/bin/roslyn/System.Reflection.Metadata.dll
/BasicTemplate/WEB/WebCode/bin/roslyn/System.Security.AccessControl.dll
/BasicTemplate/WEB/WebCode/bin/roslyn/System.Security.Claims.dll
/BasicTemplate/WEB/WebCode/bin/roslyn/System.Security.Cryptography.Algorithms.dll
/BasicTemplate/WEB/WebCode/bin/roslyn/System.Security.Cryptography.Encoding.dll
/BasicTemplate/WEB/WebCode/bin/roslyn/System.Security.Cryptography.Primitives.dll
/BasicTemplate/WEB/WebCode/bin/roslyn/System.Security.Cryptography.X509Certificates.dll
/BasicTemplate/WEB/WebCode/bin/roslyn/System.Security.Principal.Windows.dll
/BasicTemplate/WEB/WebCode/bin/roslyn/System.Text.Encoding.CodePages.dll
/BasicTemplate/WEB/WebCode/bin/roslyn/System.ValueTuple.dll
/BasicTemplate/WEB/WebCode/bin/roslyn/System.Xml.ReaderWriter.dll
/BasicTemplate/WEB/WebCode/bin/roslyn/System.Xml.XPath.XDocument.dll
/BasicTemplate/WEB/WebCode/bin/roslyn/System.Xml.XPath.dll
/BasicTemplate/WEB/WebCode/bin/roslyn/System.Xml.XmlDocument.dll
/BasicTemplate/WEB/WebCode/bin/roslyn/VBCSCompiler.exe
/BasicTemplate/WEB/WebCode/bin/roslyn/VBCSCompiler.exe.config
/BasicTemplate/WEB/WebCode/bin/roslyn/csc.exe
/BasicTemplate/WEB/WebCode/bin/roslyn/csc.exe.config
/BasicTemplate/WEB/WebCode/bin/roslyn/csc.rsp
/BasicTemplate/WEB/WebCode/bin/roslyn/csi.exe
/BasicTemplate/WEB/WebCode/bin/roslyn/csi.exe.config
/BasicTemplate/WEB/WebCode/bin/roslyn/csi.rsp
/BasicTemplate/WEB/WebCode/bin/roslyn/vbc.exe
/BasicTemplate/WEB/WebCode/bin/roslyn/vbc.exe.config
/BasicTemplate/WEB/WebCode/bin/roslyn/vbc.rsp
/BasicTemplate/WEB/WebCode/bin/zh-Hans/System.Web.Helpers.resources.dll
/BasicTemplate/WEB/WebCode/bin/zh-Hans/System.Web.Mvc.resources.dll
/BasicTemplate/WEB/WebCode/bin/zh-Hans/System.Web.Optimization.resources.dll
/BasicTemplate/WEB/WebCode/bin/zh-Hans/System.Web.Razor.resources.dll
/BasicTemplate/WEB/WebCode/bin/zh-Hans/System.Web.WebPages.Deployment.resources.dll
/BasicTemplate/WEB/WebCode/bin/zh-Hans/System.Web.WebPages.Razor.resources.dll
/BasicTemplate/WEB/WebCode/bin/zh-Hans/System.Web.WebPages.resources.dll
/BasicTemplate/WEB/WebCode/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/BasicTemplate/WEB/WebCode/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/BasicTemplate/WEB/WebCode/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/BasicTemplate/WEB/WebCode/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/BasicTemplate/WEB/WebCode/obj/Debug/WebCode.csproj.CopyComplete
/BasicTemplate/WEB/WebCode/obj/Debug/WebCode.csproj.CoreCompileInputs.cache
/BasicTemplate/WEB/WebCode/obj/Debug/WebCode.csproj.FileListAbsolute.txt
/BasicTemplate/WEB/WebCode/obj/Debug/WebCode.csprojAssemblyReference.cache
/BasicTemplate/WEB/WebCode/obj/Debug/WebCode.dll
/BasicTemplate/WEB/WebCode/obj/Debug/WebCode.pdb
/BasicTemplate/Common/Common.Entity/obj/Debug/Common.Entity.csprojAssemblyReference.cache
/BasicTemplate/WEB/AdminCode/obj/Debug/AdminCode.csprojAssemblyReference.cache
