/BasicTemplate/.vs/BasicTemplate/v15/Server/sqlite3/db.lock
/BasicTemplate/.vs/BasicTemplate/v15/Server/sqlite3/storage.ide
/BasicTemplate/.vs/BasicTemplate/v15/Server/sqlite3/storage.ide-shm
/BasicTemplate/.vs/BasicTemplate/v15/Server/sqlite3/storage.ide-wal
