
@{
    ViewBag.Title = "Design";
}
<form class="form-horizontal">
    <div class="control-group my-2">
        <label class="control-label" for="title">网站标题*</label>
        <div class="controls">
            <input class="form-control" type="text" id="title" name="title" placeholder="网站标题">
        </div>
    </div>
    <div class="control-group my-2">
        <label class="control-label" for="music">背景音乐*</label>
        <div class="controls">
            <input class="form-control" type="text" id="music" name="music" placeholder="背景音乐">
        </div>
    </div>
    <div class="control-group my-2">
        <label class="control-label" for="p1">第一句话*</label>
        <div class="controls">
            <textarea class="form-control" rows="6" id="p1" name="p1" placeholder="第一句话"></textarea>
        </div>
    </div>
    <div class="control-group my-2">
        <label class="control-label" for="p1">第二句话*</label>
        <div class="controls">
            <textarea class="form-control" rows="6" id="p2" name="p2" placeholder="第二句话"></textarea>
        </div>
    </div>
    <div class="control-group my-2">
        <label class="control-label" for="p1">第三句话*</label>
        <div class="controls">
            <textarea class="form-control" rows="6" id="p3" name="p2" placeholder="第三句话"></textarea>
        </div>
    </div>
    <div class="control-group my-2">
        <label class="control-label" for="p1">第四句话*</label>
        <div class="controls">
            <textarea class="form-control" rows="6" id="p4" name="p2" placeholder="第四句话"></textarea>
        </div>
    </div>
    <div class="control-group my-2">
        <label class="control-label" for="p1">第五句话*</label>
        <div class="controls">
            <textarea class="form-control" rows="6" id="p5" name="p2" placeholder="第五句话"></textarea>
        </div>
    </div>
    <div class="control-group my-2">
        <label class="control-label" for="p1">选择照片*</label>
        <div class="controls">
            <textarea class="form-control" rows="6" id="p6" name="p2" placeholder="选择照片"></textarea>
        </div>
    </div>
    <div class="control-group my-2">
        <label class="control-label" for="p1">页面介绍*</label>
        <div class="controls">
            <textarea class="form-control" rows="6" id="p6" name="p2" placeholder="页面介绍">这个页面是我在 我要沙雕网给你制作的，希望你会喜欢</textarea>
        </div>
    </div>
    <div class="control-group my-2">
        <label class="control-label" for="producer">制作人*</label>
        <div class="controls">
            <input class="form-control" type="text" id="producer" name="producer" placeholder="制作人" value="某某某制作">
        </div>
    </div>
    <div class="row my-2 text-center">
        <div class="col-xs-12">
            <button type="reset" class="btn">清空重置</button>
            <button type="submit" class="btn btn-success">提交并预览</button>
        </div>
    </div>

</form>

