@model Common.Entity.Business.TemplateEntity
@{
    ViewBag.Title = "Design";
    var count = Model.FSentenceCount;
    var dic = ViewBag.Dic as IDictionary<int, string>;
}
<div class="container">
    <form class="form-horizontal" method="post" action="/template/create">
        <div class="control-group my-2">
            <label class="control-label" for="title">网站标题*</label>
            <div class="controls">
                <input class="form-control" type="text" id="title" name="ftitle" value="我是标题___啦啦啦" placeholder="网站标题">
            </div>
        </div>
        <div class="control-group my-2">
            <label class="control-label" for="music">背景音乐*</label>
            <div class="controls">
                <input class="form-control" type="text" id="music" name="fmusic" placeholder="背景音乐" value="/Resource/mp3/1.mp3" style="display:none;">
                <select class="form-control" onchange="document.getElementById('music').value = '' + this.options[this.selectedIndex].value">
                    <option value="">页面背景音乐</option>
                    <option value="/Resource/mp3/1.mp3">《暖暖》----------------【梁静茹】</option>
                    <option value="/Resource/mp3/2.mp3">《丫头》----------------【王童语】</option>
                    <option value="/Resource/mp3/3.mp3">《多幸运》--------------【韩安旭】</option>
                    <option value="/Resource/mp3/4.mp3">《就是爱你》--------------【陶喆】</option>
                    <option value="/Resource/mp3/5.mp3">《星月神话》--------------【金沙】</option>
                    @*<option value="http://www.zaiyiqiba.com/mp3/kgmp3.php?id=018551D54490C272B54D064D92663826">《一次就好》------------【杨宗纬】</option>*@
                </select>
            </div>
        </div>
        @for (int i = 1; i <= count; i++)
        {
            <div class="control-group my-2">
                <label class="control-label" for="p@(i)">第@(dic[i])句话*</label>
                <div class="controls">
                    <textarea class="form-control" rows="6" id="p@(i)" name="fp@(i)" placeholder="第@(dic[i])句话">@(i)</textarea>
                </div>
            </div>
        }
        <div class="control-group my-2">
            <label class="control-label" for="photo">选择照片*</label>
            <div class="controls">
                <input id="photo" class="form-control" type="file" multiple="multiple" accept="image/*">
                <input type="text" name="fphoto" id="fphoto" style="display:none;" />
            </div>
        </div>
        <div class="control-group my-2">
            <label class="control-label" for="description">页面介绍*</label>
            <div class="controls">
                <textarea class="form-control" rows="6" id="description" name="fdescription" placeholder="这个页面是我在 我要沙雕网给你制作的，希望你会喜欢">这里是页面介绍哟</textarea>
            </div>
        </div>
        <div class="control-group my-2">
            <label class="control-label" for="producer">制作人*</label>
            <div class="controls">
                <input class="form-control" type="text" id="producer" name="fproducer" placeholder="制作人" value="这里是显示制作人哟">
            </div>
        </div>
        <div class="row my-2 text-center">
            <div class="col-xs-12">
                <button type="reset" class="btn">清空重置</button>
                <button type="submit" class="btn btn-success">提交并预览</button>
            </div>
        </div>
        <input type="text" value="@ViewBag.Guid" id="guid" name="FUId" style="display:none;" />
        <input type="text" value="@Model.FId" id="guid" name="FTemplateId" style="display:none;" />
    </form>
</div>
@section script{
    <script>
        $(function () {
            //初始化fileinput控件（第一次初始化）
            function initFileInput(ctrlName, uploadUrl) {
                var control = $('#' + ctrlName);
                control.fileinput({
                    language: 'zh', //设置语言
                    uploadUrl: uploadUrl, //上传的地址
                    maxFileCount: 6,
                    enctype: 'multipart/form-data',
                    //allowedFileExtensions: ['jpg', 'png', 'bmp', 'jpeg', 'gif'],
                    //allowedFileTypes: ['image'],
                    showUpload: true, //是否显示上传按钮
                    showCaption: false,//是否显示标题
                    browseClass: "btn btn-primary", //按钮样式
                    previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
                    msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
                    uploadExtraData: function () {//向后台传递参数
                        var data = {
                            guid: $("#guid").val(),
                        };
                        return data;
                    },
                }).on("filebatchselected", function (event, files) {
                    $(this).fileinput("upload");
                }).on("fileuploaded", function (event, data) {
                    if (data.response && data.response.status) {
                        $("#fphoto").val($("#fphoto").val() + ";" + data.response.imgUrl);
                    }
                    else {
                        layer.msg("上传失败!");
                    }
                });
            }
            initFileInput("photo", "/FileUpload/Upload");
        });
    </script>
}