
@{
    ViewBag.Title = "Design";
    var count = Convert.ToInt32(ViewBag.Count);
    var dic = ViewBag.Dic as IDictionary<int, string>;
}
<form class="form-horizontal">
    <div class="control-group my-2">
        <label class="control-label" for="title">网站标题*</label>
        <div class="controls">
            <input class="form-control" type="text" id="title" name="title" placeholder="网站标题">
        </div>
    </div>
    <div class="control-group my-2">
        <label class="control-label" for="music">背景音乐*</label>
        <div class="controls">
            <input class="form-control" type="text" id="music" name="music" placeholder="背景音乐">
            <select class="form-control" onchange="document.getElementById('music').value = '' + this.options[this.selectedIndex].value">
                <option value="">页面背景音乐</option>
                <option value="http://www.zaiyiqiba.com/mp3/kgmp3.php?id=86F6B12AF4D1F8898B6AA755BCFD36B8">《暖暖》----------------【梁静茹】</option>
                <option value="http://www.zaiyiqiba.com/mp3/kgmp3.php?id=5E7023CC16A92E479949E201B0705F7C">《丫头》----------------【王童语】</option>
                <option value="http://www.zaiyiqiba.com/mp3/kgmp3.php?id=EC948599250F456506F328C8F75969C1">《多幸运》--------------【韩安旭】</option>
                <option value="http://www.zaiyiqiba.com/mp3/kgmp3.php?id=018551D54490C272B54D064D92663826">《一次就好》------------【杨宗纬】</option>
                <option value="http://www.zaiyiqiba.com/mp3/kgmp3.php?id=A2F12FE24D38E7A7FE60E2FB842C8E44">《就是爱你》--------------【陶喆】</option>
                <option value="http://www.zaiyiqiba.com/mp3/kgmp3.php?id=72D0F733BB9A70F2C18B1606F9E87077">《星月神话》--------------【金沙】</option>
            </select>
        </div>
    </div>
    @for (int i = 1; i <= count; i++)
    {
        <div class="control-group my-2">
            <label class="control-label" for="p@(i)">第@(dic[i])句话*</label>
            <div class="controls">
                <textarea class="form-control" rows="6" id="p@(i)" name="p@(i)" placeholder="第@(dic[i])句话"></textarea>
            </div>
        </div>
    }
    <div class="control-group my-2">
        <label class="control-label" for="photo">选择照片*</label>
        <div class="controls">
            <input id="photo" class="form-control" type="file" multiple="multiple" accept="image/*">
        </div>
    </div>
    <div class="control-group my-2">
        <label class="control-label" for="description">页面介绍*</label>
        <div class="controls">
            <textarea class="form-control" rows="6" id="description" name="description" placeholder="这个页面是我在 我要沙雕网给你制作的，希望你会喜欢"></textarea>
        </div>
    </div>
    <div class="control-group my-2">
        <label class="control-label" for="producer">制作人*</label>
        <div class="controls">
            <input class="form-control" type="text" id="producer" name="producer" placeholder="制作人" value="">
        </div>
    </div>
    <div class="row my-2 text-center">
        <div class="col-xs-12">
            <button type="reset" class="btn">清空重置</button>
            <button type="submit" class="btn btn-success">提交并预览</button>
        </div>
    </div>

</form>

@section scripts{
    <script>
        $(function () {
            //初始化fileinput控件（第一次初始化）
            function initFileInput(ctrlName, uploadUrl) {
                var control = $('#' + ctrlName);
                control.fileinput({
                    language: 'zh', //设置语言
                    uploadUrl: uploadUrl, //上传的地址
                    maxFileCount: 6,
                    enctype: 'multipart/form-data',
                    //allowedFileExtensions: ['jpg', 'png', 'bmp', 'jpeg', 'gif'],
                    //allowedFileTypes: ['image'],
                    showUpload: true, //是否显示上传按钮
                    showCaption: false,//是否显示标题
                    browseClass: "btn btn-primary", //按钮样式
                    previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
                    msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
                });
            }
            initFileInput("photo", "/FileUpload/Upload");
        });
    </script>
}