@model IList<Common.Entity.Business.TemplateEntity>
@{
    ViewBag.Title = "模板首页";
    var list = Model;
}
@section style{
    <style>
        .bg {
            background: #fff;
            border-left: solid 1px #eee;
            border-top: solid 1px #eee;
            border-right: solid 1px #F8F8F8;
            border-radius: 4px;
            box-shadow: 0 3px 8px -6px rgba(0,0,0,.4);
        }

        .temp-flex-center {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .temp-body {
            width: 100%;
            max-width: 400px;
            position: relative;
            overflow: hidden;
        }

            .temp-body .temp-body-logo {
                display: block;
                position: relative;
            }

            .temp-body .temp-img {
                width: 100%;
                max-height: 200px;
                border-radius: 7px;
            }


        .temp-tip {
            height: 22px;
            line-height: 22px;
            position: absolute;
            bottom: 0;
            right: 0;
            font-size: 12px;
            padding: 0 7px;
            background: rgba(239,155,89,0.9);
            color: #fff;
        }

        .temp-body .temp-body-bottom {
            height: 69px;
        }

            .temp-body .temp-body-bottom .temp-shows {
                color: #E00330;
                /*font-size: 12px;*/
            }

            .temp-body .temp-body-bottom .temp-body-bottom-justify {
                justify-content: center;
                align-items: center;
                display: flex;
            }

                .temp-body .temp-body-bottom .temp-body-bottom-justify button {
                    width: 100%;
                }


        .cover-hidden {
            font-size: 18px;
            display: inline-block;
            border: 1px solid #ccc;
            padding: 8px 57px;
            background: #ed3f14;
            transform: rotate(45deg);
            position: absolute;
            right: -75px;
            top: -10px;
            color: #fff;
        }
    </style>
}

<div class="container">
    <div class="row my-2 ">
        @for (int i = 0; i < list.Count; i++)
        {
            <div class="col-sm-4 my-2 temp-flex-center">
                <div class="temp-body bg px-2 py-2">
                    <a href="/template/design/@(list[i].FId).html" title="@(list[i].FName)" rel="bookmark" class="temp-body-logo text-center">
                        <img class="temp-img" src="@(list[i].FImgUrl)" alt="1111">
                        <span class="temp-tip">免费</span>
                        @if (i != 0)
                        {
                            <div class="cover-hidden">开发中</div>
                        }
                    </a>
                    <div class="temp-body-bottom">
                        <p class="temp-showtp my-2">
                            <span class="temp-showtiele">@(list[i].FName)</span> |
                            <span class="temp-shows">
                                围观: @(list[i].FCheckCount)次
                                <i class="am-icon-get-pocket"></i>
                            </span>
                        </p>
                        <div class="temp-body-bottom-justify">
                            <button class="btn btn-default" onclick="javascrtpt:window.location.href='/template/design/@(list[i].FId).html'">立即制作</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
