@model Common.Entity.Business.CustomerTemplateInfoEntity
@{
    Layout = null;
    var ImgList = Model.FPhoto.Split(new char[] { ';' }, StringSplitOptions.RemoveEmptyEntries).ToList();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@($"{Model.FTitle}-制作人:{Model.FProducer}")</title>
    @*<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">*@

    <meta name="share-icon" content="https://gss0.baidu.com/9vo3dSag_xI4khGko9WTAnF6hhy/fex/pic/item/8601a18b87d6277fe9119fac2f381f30e924fc27.jpg">
    <link rel="shortcut icon" href="https://gss0.baidu.com/9vo3dSag_xI4khGko9WTAnF6hhy/fex/pic/item/8601a18b87d6277fe9119fac2f381f30e924fc27.jpg">

    <meta name="full-screen" content="true">
    <meta name="screen-orientation" content="portrait">
    <meta name="browsermode" content="application">
    <meta name="x5-fullscreen" content="true">
    <meta name="x5-orientation" content="portrait">
    <meta name="x5-page-mode" content="app">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache,must-revalidate">
    <meta http-equiv="expires" content="-1">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <script>
        var global = typeof _global_ !== 'undefined' ? _global_ : window;
        global.legend = global.legend ? global.legend : {};
        global.legend.checkDomain = false;
        global.legend.publishDomain = "";
        global.legend.business = { "type": "h5" };
        global.legend.layoutMode = "multi";
        global.legend.id = "631c613c-9182-2309-4bbe-d5a7ad4b2708";
        !function () {
            window.legend.checkDomain &&
                (window.legend.publishDomain
                    ||
                    (window.legend.publishDomain = location.hostname,
                        "jing.baidu.com" === window.legend.publishDomain
                        && (window.legend.publishDomain = "")
                    ),
                    -1 === [window.legend.publishDomain, "wapbaike.baidu.com"].indexOf(location.hostname) &&
                    (location.href = location.href.replace(location.hostname, window.legend.publishDomain))
                ),
                delete window.legend.publishDomain;
            var e = 400, n = '<meta name="viewport" content="width=' + e + ', user-scalable=no, minimal-ui" >';
            document.write(n),
                "multi" === window.legend.layoutMode &&
                window.addEventListener("DOMContentLoaded", function () {
                    var e = document.body.clientHeight, n = 500;
                    if (self === top && 20 > e) document.body.style.height = "591px";
                    else if (n > e && "multi" === window.layoutMode) {
                        var i = document.querySelector(".lg-container");
                        i && (i.style.webkitTransformOrigin = "50% 0", i.style.webkitTransform = "translateZ(0) scale(" + e / n + ")")
                    }
                }, !1)
        }();
    </script>

    <style>
        /*PC*/
        @@media only screen and (min-width : 768px) {

            body {
                display: flex;
                justify-content: center;
                background-color: rgba(0,0,0,.5);
            }

            #iframeDiv {
                width: 400px;
                height: 100vh;
                padding: 0 10px;
            }

            #iframe {
                width: 400px;
                height: 650px;
            }

            #qrcodeDiv {
                position: absolute;
                top: 35%;
                right: -300px;
                width: 128px;
                height: 128px;
            }

            #qrcode-span {
                width: 100%;
                text-align: center;
            }


            .phone {
                position: absolute;
                top: 15%;
                left: 0;
                width: 400px;
                height: 650px;
                display: inline-block;
                background: red;
                box-sizing: content-box;
                border-top: 40px solid #FFF;
                border-left: 10px solid #FFF;
                border-right: 10px solid #FFF;
                border-bottom: 60px solid #FFF;
                border-radius: 20px;
                transform-origin: 100% 0;
                transform: scale(1);
            }

            #iframeDiv .arrow {
                position: absolute;
                right: -150px;
                bottom: 150px;
                border: 1px solid #FFF;
                border-radius: 12px;
                width: 40px;
                height: 74px;
                padding: 1px;
            }

                #iframeDiv .arrow > div {
                    background-image: url(/Resource/img/preview-sprite.png);
                    background-repeat: no-repeat;
                    width: 40px;
                    height: 25px;
                    cursor: pointer;
                }

                #iframeDiv .arrow .up {
                    background-position: 3px -76px;
                    margin-top: 3px;
                }

                #iframeDiv .arrow .down {
                    background-position: 3px -114px;
                    margin-top: 17px;
                }
        }

        /*Mobile*/
        @@media only screen and (max-width : 768px) {

            #iframe {
                width: 100vw;
                height: 100vh;
            }

            #iframeDiv {
                width: 100vw;
                height: 100vh;
            }

            #qrcodeDiv {
                display: none;
            }

            #iframe body {
                border: #888 solid 1px !important;
            }
        }





        body {
            margin: 0;
            overflow: hidden;
        }

        img {
            width: 200px;
            height: 200px;
        }

        #iframeDiv {
            position: relative;
        }

        .loader {
            position: relative;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            /*margin: 75px;*/
            display: inline-block;
            vertical-align: middle;
        }

        .loader-star {
            position: absolute;
            top: calc(50% - 12px);
        }
        /*LOADER-1*/

        .loader-1 .loader-outter {
            position: absolute;
            border: 4px solid #f50057;
            border-left-color: transparent;
            border-bottom: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            -webkit-animation: loader-1-outter 1s cubic-bezier(.42, .61, .58, .41) infinite;
            animation: loader-1-outter 1s cubic-bezier(.42, .61, .58, .41) infinite;
        }

        .loader-1 .loader-inner {
            position: absolute;
            border: 4px solid #f50057;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            left: calc(50% - 20px);
            top: calc(50% - 20px);
            border-right: 0;
            border-top-color: transparent;
            -webkit-animation: loader-1-inner 1s cubic-bezier(.42, .61, .58, .41) infinite;
            animation: loader-1-inner 1s cubic-bezier(.42, .61, .58, .41) infinite;
        }

        @@-webkit-keyframes loader-1-outter {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

        @@keyframes loader-1-outter {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

        @@-webkit-keyframes loader-1-inner {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(-360deg);
                transform: rotate(-360deg);
            }
        }

        @@keyframes loader-1-inner {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(-360deg);
                transform: rotate(-360deg);
            }
        }

        #iframe {
            outline: #888 solid 1px;
        }

        #loadingModal {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1050;
            display: none;
            overflow: hidden;
            -webkit-overflow-scrolling: touch;
            outline: 0;
        }

            #loadingModal h5 {
                color: #ffffff;
            }

        #modalMask {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1040;
            background-color: #000;
        }
    </style>
</head>
<body>
    <!--进度条-->
    <div id="loadingModal">
        <div style="width: 200px;height:20px; z-index: 20000; position: absolute; text-align: center; left: 50%; top: 50%;margin-left:-100px;margin-top:-10px">
            <div class="loader loader-1">
                <div class="loader-outter"></div>
                <div class="loader-inner"></div>
            </div>
            <h5>正在加载资源,请稍等...</h5>
        </div>
    </div>
    <!--遮罩-->
    <div id="modalMask"></div>
    <script>
        (function () {
            document.getElementById("loadingModal").style.display = "block";
            document.getElementById("modalMask").style.display = "block";
        })()
    </script>

    <div id="iframeDiv">
        <div class="phone">
            <iframe id="iframe" frameborder="0"></iframe>
        </div>
        <div id="qrcodeDiv">
            <div id="qrcode"></div>
            <div id="qrcode-span">扫一扫</div>
        </div>
        <div class="arrow">
            <div class="up"></div>
            <div class="down"></div>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Plugins/jquery.qrcode/jquery.qrcode.min.js"></script>
    <script src="~/Scripts/common.js"></script>

    <script>
        $(function () {

            $("#qrcode").qrcode({
                     render: "canvas", //canvas方式
                     width: 128, //宽度
                     height: 128, //高度
                     text: window.location.href //任意内容

            });

            var data = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
            data.FPhoto = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ImgList));
            set("data", JSON.stringify(data))

            //iframe加载函数
            var iframeLoad = function () {
                $("#iframeDiv .arrow .up").click(document.getElementById("iframe").contentWindow.prevPage);
                $("#iframeDiv .arrow .down").click(document.getElementById("iframe").contentWindow.nextPage);
                hideLoading();
            };

            var iframe = document.getElementById("iframe");
            if (iframe.attachEvent) {
                iframe.attachEvent("onreadystatechange", function () {
                    //此事件在内容没有被载入时候也会被触发，所以我们要判断状态
                    //有时候会比较怪异 readyState状态会跳过 complete 所以我们loaded状态也要判断
                    if (iframe.readyState === "complete" || iframe.readyState == "loaded") {
                        //代码能执行到这里说明已经载入成功完毕了
                        //要清除掉事件
                        iframeLoad();
                    }
                });
            } else {
                iframe.addEventListener("load", function () {
                    //代码能执行到这里说明已经载入成功完毕了
                    this.removeEventListener("load", arguments.call, false);
                    iframeLoad();

                }, false);
            }

            $("#iframe").attr("src", "@Html.Raw(Model.Template.FTemplateUrl)");
        });

        function hideLoading() {
            //原生js方式
            document.getElementById("loadingModal").style.display = "none";
            document.getElementById("modalMask").style.display = "none";
        }
    </script>
</body>
</html>
