<?xml version="1.0"?>
<connectionStrings>
  <add name="DB_Main" connectionString="Database=mydb;Data Source=47.75.119.109;User Id=root;Password=123456;pooling=false;CharSet=utf8;port=3306" providerName="MySql.Data.MySqlClient"/>
  <add name="DB_ReadOnly" connectionString="Database=mydb;Data Source=47.75.119.109;User Id=root;Password=123456;pooling=false;CharSet=utf8;port=3306" providerName="MySql.Data.MySqlClient"/>
</connectionStrings>