<?xml version="1.0"?>
<connectionStrings>
  <add name="DB" connectionString="data source=10.10.10.49;database=OfficialCash;uid=sa;pwd=86809A8CE3AFC4F05070FE60F442A39A40FFC8F155D625C9;" providerName="System.Data.SqlClient"/>
  <add name="ReadOnlyDB" connectionString="data source=10.10.10.49;database=OfficialCash;uid=sa;pwd=86809A8CE3AFC4F05070FE60F442A39A40FFC8F155D625C9;" providerName="System.Data.SqlClient"/>
</connectionStrings>