<?xml version="1.0" encoding="utf-8"?>
<unity  xmlns="http://schemas.microsoft.com/practices/2010/unity">

  <!--<alias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager,Microsoft.Practices.Unity" />
  <alias alias="external"  type="Microsoft.Practices.Unity.ExternallyControlledLifeManager,Microsoft.Practices.Unity" />-->

  <!--定义类型别名-->
  <aliases>
    <add alias="ITemplateService" type="Common.Interface.BusinessInterface.ITemplateService,Common.Interface" />
    <add alias="ITemplateRepository" type="Common.Interface.BusinessInterface.DAL.ITemplateRepository,Common.Interface" />
    <add alias="TemplateRepository" type="DAL.Business.TemplateRepository,DAL.Business" />

    <add alias="ICustomerTemplateInfoService" type="Common.Interface.BusinessInterface.ICustomerTemplateInfoService,Common.Interface" />
    <add alias="ICustomerTemplateInfoRepository" type="Common.Interface.BusinessInterface.DAL.ICustomerTemplateInfoRepository,Common.Interface" />
    <add alias="CustomerTemplateInfoRepository" type="DAL.Business.CustomerTemplateInfoRepository,DAL.Business" />

    <add alias="IMessageBoardService" type="Common.Interface.BusinessInterface.IMessageBoardService,Common.Interface" />
    <add alias="IMessageBoardRepository" type="Common.Interface.BusinessInterface.DAL.IMessageBoardRepository,Common.Interface" />
    <add alias="MessageBoardRepository" type="DAL.Business.MessageBoardRepository,DAL.Business" />
  </aliases>
  <!--容器-->
  <container>
    <!--映射关系-->
    <register type="ITemplateService" mapTo="BLL.Business.TemplateService,BLL.Business" name="TemplateService">
      <lifetime type="singleton" />
      <property name="_TemplateRepository">
        <dependency type="TemplateRepository" />
      </property>
    </register>
    <register type="ITemplateRepository" mapTo="DAL.Business.TemplateRepository,DAL.Business" name="TemplateRepository">
    </register>

    <register type="ICustomerTemplateInfoService" mapTo="BLL.Business.CustomerTemplateInfoService,BLL.Business" name="CustomerTemplateInfoService">
      <lifetime type="singleton" />
      <property name="_CustomerTemplateInfoRepository">
        <dependency type="CustomerTemplateInfoRepository" />
      </property>
    </register>
    <register type="ICustomerTemplateInfoRepository" mapTo="DAL.Business.CustomerTemplateInfoRepository,DAL.Business" name="CustomerTemplateInfoRepository">
    </register>

    <register type="IMessageBoardService" mapTo="BLL.Business.MessageBoardService,BLL.Business" name="MessageBoardService">
      <lifetime type="singleton" />
      <property name="_MessageBoardRepository">
        <dependency type="MessageBoardRepository" />
      </property>
    </register>
    <register type="IMessageBoardRepository" mapTo="DAL.Business.MessageBoardRepository,DAL.Business" name="MessageBoardRepository">
    </register>


  </container>
</unity>
