<?xml version="1.0"?>
<connectionStrings>
  <add name="DB_Main" connectionString="Database=mydb;Data Source=47.75.119.109;User Id=root;Password=123456;pooling=false;CharSet=utf8;port=3306" providerName="MySql.Data.MySqlClient"/>
  <add name="DB_ReadOnly" connectionString="Database=mydb;Data Source=47.75.119.109;User Id=root;Password=123456;pooling=false;CharSet=utf8;port=3306" providerName="MySql.Data.MySqlClient"/>
  <!--<add name="ReadOnlyDB" connectionString="data source=192.168.20.61;database=OfficialCash;uid=sa;pwd=86809A8CE3AFC4F05070FE60F442A39A40FFC8F155D625C9;" providerName="System.Data.SqlClient"/>-->
</connectionStrings>