body {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/




/*自定义样式*/
.am-navbar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 49px;
    line-height: 49px;
    z-index: 1010;
}

    .am-navbar .am-navbar-nav {
        padding-left: 8px;
        padding-right: 8px;
        text-align: center;
        overflow: hidden;
    }

    .am-navbar ul {
        padding-left: 0;
        margin: 0;
        list-style: none;
        width: 100%;
    }

.smnav {
    background: #fff !important;
    border-top: 1px solid #eee;
    box-shadow: 1px 1px 2px 2px rgba(219,219,219,0.6);
}

.am-navbar-nav {
    position: relative;
    z-index: 1015;
}

[class*=am-avg-] {
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
}

.am-navbar .am-navbar-nav li {
    display: table-cell;
    width: 1%;
    float: none;
}

.smnav li a {
    color: #999 !important;
}

.am-navbar-nav a .glyphicon {
    width: 24px;
    height: 24px;
    margin: 4px auto 0;
    display: block;
    line-height: 24px;
}

.smnav li a {
    color: #999 !important;
}

.am-navbar-nav a {
    display: inline-block;
    width: 100%;
    height: 49px;
    line-height: 20px;
}

#footer_nav li.active * {
    color: red;
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.am-gotop-fixed {
    position: fixed;
    right: 10px;
    bottom: 60px;
    z-index: 1010;
    width: 32px;
    min-height: 32px;
    overflow: hidden;
    border-radius: 0;
    text-align: center;
    display: none;
    cursor: pointer;
}

.am-gotop-icon-custom {
    display: inline-block;
    max-width: 30px;
    vertical-align: middle;
}

.am-gotop-fixed a {
    display: block;
}


.btn-pay {
    margin-bottom: 20px;
    padding: 8px 25px;
    font-size: 16px;
    color: #fff !important;
    background-color: #ea6f5a;
    border-radius: 20px;
}


/*PC 不显示页底菜单*/
@media only screen and (min-width : 768px) {
    #footer_nav {
        display: none;
    }
}

/*   Mobile  */
@media only screen and (max-width : 768px) {

}
