
@{
    ViewBag.Title = "欢迎投稿";
}

@section style{
    <style>
        .wait {
            min-height: 200px;
            height: 80vh;
        }
    </style>
}

<div class="container flex-center wait">
    <b>页面开发中，敬请期待……</b>
</div>


@section script{

}